* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  color: #002f34;
  background: #f2f4f5;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
}

[dir='rtl'] {
  direction: rtl;
  text-align: right;
}

[dir='ltr'] {
  direction: ltr;
  text-align: left;
}

/* OLX brand colors */
:root {
  --olx-primary: #002f34;
  --olx-secondary: #23e5db;
  --olx-accent: #ffce32;
  --olx-text: #002f34;
  --olx-text-light: #406367;
  --olx-border: #e4e4e4;
  --olx-bg: #f2f4f5;
  --olx-white: #ffffff;
}

